<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="public/img/favicon.png" type="image/png" />
    <title>E-commerce Flamingo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="public/css/login.css">
</head>

<body>

    <div class="box">
        <div class="logincont403">

            <a href="/"><img src="public/img/403.png" alt="" width="400" class="mb-3"></a>

            
            <button class="btn btnn-bg btn-block text-light" onclick="back()">Volver</button>
            <script type="text/javascript">
            function back(){
                history.back();
            }
            </script>

            </div>
        </div>

</body>

</html>