<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap and FontAwesome -->
    <%- include('../parts/headers.ejs') %>

</head>

<body>

    <%- include('../parts/menu.ejs') %>
        <div class="container-fluid">
            
            <div class="row mx-5 mt-3 p-4">
                <div class="col-md-12 text-center">
                    <img src="public/img/flamingo_h.png" alt="" width="300" class="mt-5">
                    <h1>Gestor de Ordenes</h1>
                    <h1>Ecommerce</h1>
                </div>
            </div>

        </div>
        <%- include('../parts/scripts.ejs') %>
</body>

</html>